<launch>
    <node pkg="explore_lite" type="explore" respawn="false" name="explore" output="screen">
        <param name="robot_base_frame" value="base_link"/>
        <param name="costmap_topic" value="map"/>
        <param name="costmap_updates_topic" value="map_updates"/>
        <param name="visualize" value="true"/>
        
        <param name="planner_frequency" value="0.1"/>
        <param name="progress_timeout" value="30.0"/>
        
        <param name="potential_scale" value="1e-3"/>     <!-- This multiplicative parameter affects frontier potential component of the frontier weight (distance to frontier) -->
        <param name="orientation_scale" value="0.0"/>   <!-- This multiplicative parameter affects frontier orientation component of the frontier weight. This parameter does currently nothing and is provided solely for forward compatibility. -->
        <param name="gain_scale" value="1.0"/>          <!-- This multiplicative parameter affects frontier gain component of the frontier weight (frontier size). -->
          
        <param name="transform_tolerance" value="0.3"/>
        
        <param name="min_frontier_size" value="40"/>
    </node>
</launch>
