<launch>
	<param name="robot_description" textfile="$(find roboraider)/description/roboraider.urdf" />
    <node  name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node  name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
    
    <include file="$(find roboraider)/launch/rplidar.launch" >
        <arg name="frame_id" value="rplidar_sensor_frame" />
    </include>
    
    <!-- 
	<include file="$(find roboraider)/launch/fake_laser.launch" >
		<arg name="skipframes" value="1" />
		<arg name="fpscan_enable" value="False" />
	</include>
    -->
    
	<include file="$(find roboraider)/launch/gmapping.launch" />
	<include file="$(find roboraider)/launch/move_base_dwa.launch" />
	<include file="$(find roboraider)/launch/frontier_exploration_lite.launch" />
	<!-- <include file="$(find roboraider)/launch/frontier_exploration.launch" /> -->

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find roboraider)/rviz/gmapping_auto.rviz" />

	<!-- rosrun map_server map_saver -f `rospack find roboraider`/maps/map_empty_app3 -->
</launch>
