<launch>
    <param name="robot_description" textfile="$(find roboraider)/description/roboraider.urdf" />
    <node  name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node  name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
        
    <include file="$(find roboraider)/launch/base_controller.launch" >
        <arg name="odom_frame_id" value="odom" />
        <arg name="sonar_frame_id" value="sonar_sensor_frame" />
    </include>
    
    <include file="$(find roboraider)/launch/rplidar.launch" >
        <arg name="frame_id" value="rplidar_sensor_frame" />
    </include>

	<arg name="map" default="map_baldham.yaml" />
	<node name="map_server" pkg="map_server" type="map_server" args="$(find roboraider)/maps/$(arg map)" required="true" />

	<include file="$(find roboraider)/launch/amcl.launch" />
	<include file="$(find roboraider)/launch/move_base_dwa.launch" />

	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find roboraider)/rviz/navigation.rviz" />
</launch>
